.dropdown-user {
    border: none;   
    width: 300px;
    box-shadow: 5px 5px 70px;    
}

.dropdown-user .dropdown-item i{
    width: 35px;
    height: 35px;
    color: #606266;
}

.li-avatar {
    background-color: #F0F0F0;
    border-top-left-radius: var(--bs-dropdown-border-radius);
    border-top-right-radius: var(--bs-dropdown-border-radius);
    margin-top: -8px ;
    text-align: center;

    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    h5{
        color: #505cfd;
    }
}


.arrow-up-menu {
    position: absolute;
    left: 227px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;  
    border-bottom: 8px solid #F0F0F0;
}

.rd-nav-link {   
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px;
    }
    
    i {
        width: 50px;
    }
}