li {
    list-style-type: none ;
}

.rd-nav-link img{
    height: 50px;
    width: 50px;
}
.rd-nav-link-info img{
    border-radius: 50%;
    height: 90px;
    width: 90px;
} 
.img-avatar img{    
    height: 170x;
    width: 170px;
}

/* USER PROFILE */

.name-title h3{
    color: #505cfd; 
}

#user-profile .profile-status {
    font-size: 0.75em;
    padding-left: 12px;
    margin-top: -10px;
    padding-bottom: 10px;
    color: #8dc859;
}
#user-profile .profile-status.offline {
    color: #fe635f;
}
#user-profile .profile-img {  
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#user-profile .profile-label {
    text-align: center;
    padding: 5px 0;
}
#user-profile .profile-label .label {
    padding: 5px 15px;
    font-size: 1em;
}
#user-profile .profile-stars {
    color: #FABA03;
    padding: 7px 0;
    text-align: center;
}
#user-profile .profile-stars > i {
    margin-left: -2px;
}
#user-profile .profile-since {
text-align: center;
margin-top: -5px;
}
#user-profile .profile-details {
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin: 15px 0;
}
#user-profile .profile-details ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
}
#user-profile .profile-details ul > li {
    margin: 3px 0;
    line-height: 1.5;
}
#user-profile .profile-details ul > li > i {
    padding-top: 2px;
}
#user-profile .profile-details ul > li > span {
    color: #34d1be;
}
#user-profile .profile-header {
    position: relative;
}
#user-profile .profile-header > h3 {
    margin-top: 10px
}
#user-profile .profile-header .edit-profile {
    margin-top: -6px;
    position: absolute;
    right: 0;
    top: 0;
}
#user-profile .profile-tabs {
    margin-top: 30px;
}
#user-profile .profile-user-info {
    padding-bottom: 20px;
}
#user-profile .profile-user-info .profile-user-details {
    position: relative;
    padding: 4px 0;
}
#user-profile .profile-user-info .profile-user-details .profile-user-details-label {
    width: 110px;
    float: left;
    bottom: 0;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: right;
    top: 0;
    width: 110px;
    padding-top: 4px;
}
#user-profile .profile-user-info .profile-user-details .profile-user-details-value {
    margin-left: 120px;
}
#user-profile .profile-social li {
    padding: 4px 0;
}
#user-profile .profile-social li > i {
    padding-top: 6px;
}
@media only screen and (max-width: 767px) {
#user-profile .profile-user-info .profile-user-details .profile-user-details-label {
  float: none;
  position: relative;
  text-align: left;
}
#user-profile .profile-user-info .profile-user-details .profile-user-details-value {
  margin-left: 0;
}
#user-profile .profile-social {
  margin-top: 20px;
}
}
@media only screen and (max-width: 420px) {
    #user-profile .profile-header .edit-profile {
    display: block;
    position: relative;
    margin-bottom: 15px;
    }
}


.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    padding: 20px;
    border-radius: 15px;


}

.main-box h2 {
  margin: 0 0 15px -20px;
  padding: 5px 0 5px 20px;
  border-left: 10px solid #c2c2c2; /*7e8c8d*/
}


.daterange-filter {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    padding: 5px 10px;
}
.filter-block .form-group {
    margin-right: 10px;
    position: relative;
}
.filter-block .form-group .form-control {
    height: 36px;
}
.filter-block .form-group .search-icon {
    position: absolute;
    color: #707070;
    right: 8px;
    top: 11px;
}

@media only screen and (max-width: 440px) {
    .filter-block {
    float: none !important;
    clear: both
    }
    .filter-block .form-group {
    float: none !important;
    margin-right: 0;
    }

    #reportrange {
    clear: both;
    float: none !important;
    margin-bottom: 15px;
    }
}


.tabs-wrapper .tab-content {
  margin-bottom: 20px;
  padding: 0 10px;
}
.modal {

    --bs-modal-width: 700px;
}

/* Edit user */


.edit-avatar {
    transition: .5s ease;
    opacity: 0;   
    position: absolute;
    transform: translate(23%, -260%);
    -ms-transform: translate(-50%, -50%);   
}

.a-avatar:hover img {
    opacity: 0.3;
}

.a-avatar:hover .edit-avatar {
    opacity: 1;
}

.error_msg {
    color: red;
}

