body {
    .searchbox__result {
        // border: solid;
        // border-radius: 27px;
        margin-top: 10px;
        position: absolute;
        z-index: 3;
        background-color: white;
        padding-right: 20px;
        // height: 500px;
        // overflow: scroll;
        display: flex;
        flex-direction: column;
        gap: 12px;

        // align-items: center;
        .searchbox__item-list {
            display: flex;
            align-items: center;
            gap: 12px;
        }
        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }
}
