body {
    .slides
    {
        position: relative;
        z-index: 1;
    }
    .pagination
    {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
}
