form {
    img#view-img {
        width: 80% !important;
        height: auto;
        padding: 1rem 1rem;
    }

    img.images-thumb {
        margin: 5px;
    }
}

table.list tr td:last-child {
    width: 1% !important;
    white-space: nowrap !important;
}

img.lang-img {
    width: 20px;
    height: 20px;
}

// Left side menu
.nav-treeview {
    .nav-item {
        font-size: 0.95rem !important;
        width: 97%;
        margin: auto;
        border-radius: 5px;
        overflow: hidden;

        .nav-icon {
            font-size: 10pt !important;
            margin-left: 10px !important;
            margin-right: 1px !important;
            width: auto !important;
        }

        .nav-link {
            border-radius: 5px;
        }
    }
}

.item-active {
    background-color: #2e3338 !important;
}

span.select2{
    
}

@import './admin/admin_file.scss';