@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lato&display=swap');
// test fix css
$main-color: #b40704;

body {
  background-color: #f8f8f8;
  color: #333333;

  a:link,
  a:visited {
    text-decoration: none;
    color: #333333;
  }

  a:hover {
    color: $main-color !important;
  }

  .header {
    padding: 5px 0 5px 0;
    display: table;
    background-color: #fff;

    nav {
      display: table-cell !important;
      vertical-align: middle;

      .nav-item{
        .nav-link{
          font-weight: 600;
          color: #555555;
          text-transform: uppercase;
          font-family: 'Dosis', sans-serif;
          letter-spacing: 0.5px;
          text-decoration: none;
          display: inline-block;
          line-height: 42px;
          -webkit-transform: translate(0, 2px);
          -ms-transform: translate(0, 2px);
          -o-transform: translate(0, 2px);
          transform: translate(0, 2px);
        }
      }
    }
  }

  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .item {
      padding: 1rem 1rem 1rem 1rem;

      .title {
        text-transform: uppercase;
        position: relative;
        padding-left: 10px;
        padding-bottom: 0.5rem;
      }
      .title:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 3px;
        content: "";
        background: $main-color;
      }

      .copyright {
        padding-top: 1rem;
      }
    }
  }


  .top-products {
    padding: 30px 0 80px;
  }

  .home-articles {
    padding: 30px 0 80px;
    background-color: #fff;
    .image {
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: none;
      .link {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .text {
      padding: 4rem;

      .date {
        padding: 0.5rem 0 0.5rem 0;
        text-transform: uppercase;
        color: $main-color;
      }

      .name {
        padding: 0.5rem 0 0.5rem 0;
        text-transform: uppercase;

        h3 {
          font-size: 1.1rem !important;
        }
      }

      .summary {
        padding: 0.5rem 0 0.5rem 0;
      }
    }
  }

  .product-detail{
    padding: 100px 100px 30px 100px;
  }

  .article-detail{
    padding: 0 15px 15px 15px;
    .article{
      margin-top: -60px;
      z-index: 1000;
    }
  }

  .contact{
    .googlemap{
      width: 100%;
      height: 500px;
    }
  }



// components
.product-list {
  font-family: "Dosis", sans-serif;
  padding: 15px 15px 15px 15px;

  .product-inner {
    background-color: #fff;
    padding: 1.9rem 0.8rem 1.9rem 0.8rem;
    
    .image{
      position:relative;
      overflow:hidden;
      padding-bottom:100%;
    }
    .image img{
          position: absolute;
          max-width: 100%;
          max-height: 100%;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
    }
    .category {
      h4 {
        font-size: 1rem;
        font-weight: 400;
      }
    }
    
  }

  .product-inner:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: box-shadow 0.4s ease-in-out;
  }
}
/* ===  PAGE TITLE === */
.page-heading {
  background-image: url("/images/building.jpg");
	background-position: 50% 8px;
    background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
    padding: 15px 0 15px;
    height: 360px;
    text-align: center;
    position: relative;
    color: #ffffff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
.page-heading:before {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
}
.page-heading.about {
	height: 700px;
    background-position: 50% 8px;
}
.page-heading .page-title {
    padding: 0 0 8px;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    z-index: 1;
    font-size: 42px;
    letter-spacing: 1px;
    color: #ffffff;
}
.page-heading .page-breadcrumb {
    color: #ffffff;
    display: inline-block;
    position: relative;
}

.page-heading .page-breadcrumb span {
    padding: 0 3px;
}
.page-heading .page-breadcrumb a {
    color: #ffffff;
    text-decoration: none;
}
.page-heading .page-breadcrumb span {
    padding: 0 3px;
}
.page-heading .page-breadcrumb i {
    // -webkit-transform: translate(0, 3px);
    // -ms-transform: translate(0, 3px);
    // -o-transform: translate(0, 3px);
    // transform: translate(0, 3px);
    display: inline-block;
}

/* === PAGE TITLE === */

.block-title{
  span {
    display: inline-block;
    border-left: 3px solid $main-color;
    border-right: 3px solid $main-color;
    padding: 0 23px;
    line-height: 0.8;
  }
}

.name {
  text-transform: uppercase;
  padding-bottom: 0.1rem;
  h2 {
    font-size: 1.1rem !important;
  }
}

.price {
  color: $main-color;
  font-weight: 600;
}

//components

//tags
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  line-height: 1.1;
}
}
//tags

//media screen
@media (max-width: 767px) {
  .home-articles {
    .image {
      width: 100%;
      position: relative;
      left: auto;
      top: auto;
      height: 350px;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

// Bootstrap not spupport
.text-justify {
  text-align: justify;
}
// media screen

/* Đức edit css article */
.image-article img{
  border-radius: 20px;
  max-height: 200px;
}

.container-article {
  padding: 30px;
  border-radius: 20px;
 
}
.background-article {
  height: 500px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: margin-top 0.5s;
}

.background-article:hover {  
  margin-top: -30px;
}

.content-article h3 {
  font-size: 20px;
  line-height: 35px;
}

.content-article {
  padding: 20px;
}

@import 'header-menu';
@import '_slide.scss';
@import '_search-box';
@import '_article-list';
@import 'profile';
@import 'header-fixed';
