body {
    .category__create-form {
        form {
            .form-button {
                padding: 10px;
                display: flex;
                justify-content: end;
                gap: 10px;
            }

            .card {
                padding: 32px;
            }

            .form-group {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
