body {
    .content__header {
        justify-content: space-between;
        align-items: center;
    }

    .content__body {
        .form-content {
            padding: 20px;
        }

        .select-image-list {
            .row {
                gap: 20px;

                img{
                    max-width: 150px;
                    // border: black solid;
                    // margin-left: 10px;
                }

            
            }

            .image-item{
                display: flex;
            }
        }
    }
}
