body {
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        li {
            list-style: none;
            margin-right: 5px;
        }

        a {
            display: inline-block;
            padding: 6px 12px;
            text-decoration: none;
            border: 1px solid #ddd;
            color: #333;

            &:hover {
                background-color: #f5f5f5;
            }
        }

        .active a {
            background-color: #337ab7;
            color: #fff;
            border-color: #337ab7;
        }

        .disabled a {
            color: #777;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd;
        }
    }
}
