body {
    .select-image-items {
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        img {
            object-fit: contain;
            height: 230px;
            border-radius: 20px;
            // transition: transform 0.2s ease-in-out;
        }
    }
    // .select-image-items:hover {
    //     // transform: scale(1.1);
    //     cursor: pointer;
    // }

   

    .file-gap {
        padding: 15px;
    }
    .setting_content {
        input {
            max-width: 259.5px;
            margin-top: 20px
        }

        // .form-group{
        //     display: inline-flex;
        //     align-items: baseline;
        //     margin-top: 10px;
        // }
    }
}
