body {
    .setting {
        .card {
            padding: 15px;
        }
        .setting_title--center {
            display: block;
            margin: auto;
        }

        .setting__button {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .setting__logo {
            img {
                box-shadow: 10px 0px 5px 5px #999999;
                // border: 3px solid black;
            }
            
        }
    }
}
