@import "_variables";
@import "_mixins";
@import "select_files";
@import "setting_info";
@import "slide-image-select";
@import "hover-actions";
@import "create-slide-modal";
@import "category-create";
@import "category_index";
@import "paginate";
.card {
    .card-body {
        background-color: $bg-light-color;

        .card-body-file {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;
            border-radius: 0.5rem;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: translateY(-0.5rem);
            }

            .file-image {
                width: 100%;
                height: 15rem;
                padding: 1rem;
                overflow: hidden;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    display: block;
                    border-radius: 0.5rem;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .file-name {
                padding: 10px 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
            }

            .file-action {
                .btn-delete {
                    @include buttonStyle();
                    background-color: $light-wine-color;
                    color: $wine-color;
                    padding: 0.5rem;
                    margin-right: 0.5rem;

                    &:hover {
                        background-color: $wine-color;
                        color: $bg-light-color;
                    }
                }

                .btn-edit {
                    @include buttonStyle();
                    background-color: $bg-gray-color;
                    color: $dark-blue-color;

                    &:hover {
                        background-color: $dark-blue-color;
                        color: $bg-gray-color;
                    }
                }
            }
        }
    }
}

.form-file {
    input {
        @include buttonStyle();
        background-color: $light-tur-color;
        color: $tur-color;
        padding: 0.5rem;
    }

    input[type="file"]::file-selector-button {
        background-color: $input-color;
        color: $dark-blue-color;
        border: 0;
        padding: 0.5rem;
        border-radius: 20px;
        margin-right: 10px;
        transition: 0.5s;
        &:hover {
            background-color: $dark-blue-color;
            color: $input-color;
        }
    }

    button {
        @include buttonStyle();
        border: 0;
        background-color: $light-wine-color;
        color: $wine-color;
        padding: 0.5rem;
        transition: 0.5s;
        &:hover {
            background-color: $wine-color;
            color: $bg-light-color;
        }
    }
}

.admin-file__paginate {
    display: flex;
    justify-content: center;
}
